:root {
  --background: #020617;
  --primary-color: #fde047;
  --text-color: #e5e7eb;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
  gap: 5px;
  padding-top: 80px;
}

.grid-select {
  display: flex;
  justify-content: center;
}

.grid-select > button {
  height: 150px;
  width: 150px;
  border: none;
  cursor: pointer;
}

.winner {
  color: var(--text-color);
  text-align: center;
}